* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 700px;
    margin: 0 auto;
}
p{
    font-size: 16px;
    font-family: Roboto;
    color: #fff;
    line-height: 24px;
}
h4 {
    font-size: 22px;
    font-family: Roboto;
    color: #1E1E1E;
    line-height: 32px;
}
header {
    width: 100%;
    height: 80px;
    background-color: #7a7a7a;
    padding-left: 50px;
}
header nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.menu-main{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 50px;
}
li{
    list-style: none;
}
a{text-decoration: none;}